<%- partial('../partials/header.ejs') %>

<div class="jumbotron jumboindex">

</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
            <div class="jumbotron jumboindexgallery">
                <div class="container-fluid">
                
                 <form role="form">
                           <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                     <input type="search" name="contains" class="form-control success"  placeholder="search">
                </div> 


     <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
          
                                
                     <button type="submit" class="btn btn-primary btn-xs">Buscar</button>

             </div>     
       
             
            </form>


                    </div>
                 

           
  </div>
    
</div>
</div>


        </div>

        <div>
            
